body {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 60px;
}

.contentMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

.contentMenu a {
  border-bottom: solid 1px #EAF0ED;
  border-left: solid 1px #EAF0ED;
  border-right: solid 1px #EAF0ED;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3F5D45;
  font-size: 24px;
  line-height: 40px;
  padding: 12px;
}

.contentMenu h2 {
  font-size: 24px;
  line-height: 40px;
}

.contentMenu h2 {
  border: solid 1px #3F5D45;
  background-color: #3F5D45;
  color: #fff;
  padding: 10px 16px;
}

.contentMenu li a {
  color: #3F5D45;
  padding: 10px 18px;
}

.contentMenu .checked {
  background: #EAF0ED;
}

.contentMenu li a:hover {
  background: #EAF0ED;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contentProducts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 620px;
          flex: 0 1 620px;
}

.productsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.productsCard {
  margin-bottom: 20px;
}

.productsCard:nth-child(odd) {
  margin-right: 20px;
}

.cardVision {
  position: relative;
}

.cardVision-theDay {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  left: 20px;
  top: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  background: #3F5D45;
  color: #EAF0ED;
  padding: 10px 10px 9.24px 10px;
}

.cardVision-favorite {
  position: absolute;
  top: 19px;
  right: 22px;
}

.cardVision-favorite:hover {
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.cardInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #3F5D45;
}

.cardInfo-name {
  padding: 14px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
}

.cardInfo-price {
  padding: 14px 20px;
  border-right: 1px solid #EAF0ED;
}

.cardAdding {
  width: 100%;
  padding: 16px 0;
  color: #3F5D45;
  font-size: 24px;
  background-color: #EAF0ED;
}

.cardAdding:hover {
  background-color: #3F5D45;
  color: #fff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.pagebarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 40px;
}

.pageBar, .queue {
  border-top: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
  border-left: 1px solid #EAF0ED;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginationRight {
  border-right: 1px solid #EAF0ED;
}

.pagebarList .pageBar a {
  padding: 18px;
}

.pagebarList .queue a {
  color: #3F5D45;
  padding: 22px 25px;
}

.pagebarList .queue .checked {
  background: #3F5D45;
  border: 1px solid #3F5D45;
  color: #fff;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

.footerForm {
  padding: 20px 10px;
  background-color: #3F5D45;
}

.footerForm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerInfo {
  color: #3F5D45;
  padding: 30px 10px;
  background-color: #EAF0ED;
}

.footerInfo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EAF0ED;
  font-size: 24px;
}

.formLabel img {
  margin-right: 20px;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.subscription .emailIcon {
  position: absolute;
  left: 16px;
  top: 16px;
}

.subscription input[type="email"] {
  padding-left: 58px;
  color: #3F5D45;
  font-weight: 700;
  outline: none;
  border: none;
}

.subscription button[type="submit"] {
  padding: 16px;
  background-color: #FFE180;
}

.infoTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.infoTop-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
}

.infoTop-slogan {
  font-family: 'Noto Serif TC', serif;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 5px;
}

.infoBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoBottom-icons li {
  display: inline-block;
  margin-right: 5px;
}

.infoBottom-icons li:hover {
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.infoBottom-copyright {
  font-family: 'PT Serif', serif;
}
/*# sourceMappingURL=index.css.map */